@model HomeVM

<style>
    .mt-6 {
        
    }
</style>

<form method="post">
    <input hidden asp-for="ShoppingCart.ProductId" />
    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="container mb-4" style="margin-top: 100px;"> 
                    <div class="card shadow border-0">

                        <div class="card-body">
                            <div class="py-3">
                                <div class="row">
                                    <div class="col-6 col-md-2 pb-1">
                                        <a asp-action="Index" class="btn btn-outline-primary bg-gradient mb-5 fw-semibold btn-sm text-uppercase">
                                            <small>Back to home</small>
                                        </a>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-12 col-lg-4 text-center mb-3">
                                        <img src="@Model.ShoppingCart.Product.ImageUrl" alt="@Model.ShoppingCart.Product.Name" class="card-img-top rounded" style="border: 3px solid @Model.ShoppingCart.Product.Rarity.ColorCode; box-shadow: 0 0 1rem @Model.ShoppingCart.Product.Rarity.ColorCode" />
                                        <div class="fs-5 medieval-sharp">@Model.ShoppingCart.Product.Rarity.Name</div>
                                    </div>
                                    <div class="col-12 col-lg-7">
                                        <div class="row">
                                            <h3 class="text-uppercase text-center medieval-sharp">@Model.ShoppingCart.Product.Name</h3>
                                        </div>
                                        <div class="row">
                                            <p class="text-secondary text-center lh-sm">@Html.Raw(Model.ShoppingCart.Product.Description)</p>
                                        </div>
                                        <div class="row text-center justify-content-center">
                                            <div class="p-1 col-6 col-lg-3 border-bottom">
                                                <div class="fw-semibold">Price</div>
                                            </div>
                                            <div class="p-1 col-6 col-lg-3 border-bottom">
                                                <div class="fw-semibold">
                                                    Alt. Price
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row text-center justify-content-center mb-4">
                                            <div class="p-1 col-6 col-lg-3 fw-bold">
                                                <div>
                                                    <span class="h5 text-warning">
                                                        <i class="bi bi-coin"></i> @Model.ShoppingCart.Product.Price.ToString()
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="p-1 col-6 col-lg-3 fw-bold">
                                                <div>@Model.ShoppingCart.Product.TradeItem</div>
                                            </div>
                                        </div>
                                        <div class="row justify-content-center">
                                            <div class="col-12 col-md-6 pb-1">
                                                <button type="submit" class="btn btn-primary bg-gradient w-100 py-2 text-uppercase fw-semibold">
                                                    Add to Cart
                                                </button>
                                                
                                                <a href="/admin/product/upsert?id=@Model.ShoppingCart.Product.Id" class="btn btn-primary mt-3"> <i class="bi bi-pencil-square"></i> Edit</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="adWideCarousel" class="carousel slide mt-3 mx-auto" data-mdb-ride="carousel" data-mdb-carousel-init style="width: 40%;">
                        <div class="carousel-inner">
                            @{bool isActive = false;}
                            @foreach (var ad in Model.AdList)
                            {
                                if (ad.Sizing == "Wide" && ad.Product.Id != Model.ShoppingCart.ProductId)
                                {
                                    if (!isActive)
                                    {
                                        <div class="carousel-item active">
                                            <a asp-action="Details" asp-controller="Home" asp-area="Customer" asp-route-productId="@ad.Product.Id">
                                                <img src="@ad.ImageUrl" class="d-block w-100" alt="@ad.Product.Name" />
                                            </a>
                                        </div>
                                        isActive = true;
                                    }
                                    else
                                    {
                                        <div class="carousel-item">
                                            <a asp-action="Details" asp-controller="Home" asp-area="Customer" asp-route-productId="@ad.Product.Id">
                                                <img src="@ad.ImageUrl" class="d-block w-100" alt="@ad.Product.Name" />
                                            </a>
                                        </div>
                                    }
                                }

                            }

                        </div>
                        <button class="carousel-control-prev" type="button" data-mdb-target="#adWideCarousel" data-mdb-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-mdb-target="#adWideCarousel" data-mdb-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                        <p>Advertisement</p>

                    </div>

                </div>
            </div>
            <div class="col-2">

                <div id="adTallCarousel" class="carousel slide" data-mdb-ride="carousel" style="margin-top: 130px;" data-mdb-carousel-init>
                    <div class="carousel-inner">
                        @{
                           isActive = false;
                        }
                        @foreach (var ad in Model.AdList)
                        {
                            if (ad.Sizing == "Tall" && ad.Product.Id != Model.ShoppingCart.ProductId)
                            {
                                if (!isActive)
                                {
                                    <div class="carousel-item active">
                                        <a asp-action="Details" asp-controller="Home" asp-area="Customer" asp-route-productId="@ad.Product.Id">
                                            <img src="@ad.ImageUrl" class="d-block w-100" alt="@ad.Product.Name" />
                                        </a>
                                    </div>
                                    isActive = true;
                                } else
                                {
                                    <div class="carousel-item">
                                        <a asp-action="Details" asp-controller="Home" asp-area="Customer" asp-route-productId="@ad.Product.Id">
                                            <img src="@ad.ImageUrl" class="d-block w-100" alt="@ad.Product.Name" />
                                        </a>
                                    </div>
                                }
                                
                            }

                        }

                    </div>

                    <button class="carousel-control-prev" type="button" data-mdb-target="#adTallCarousel" data-mdb-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-mdb-target="#adTallCarousel" data-mdb-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>

                </div>
                <p>Advertisement</p>



            </div>

        </div>
    </div>
</form>
