@model HomeVM

<style>
    .container {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-right: auto;
        margin-left: auto;
    }

    .row {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-1 * var(--bs-gutter-y));
        margin-right: calc(-0.5 * var(--bs-gutter-x));
        margin-left: calc(-0.5 * var(--bs-gutter-x));
    }

</style>

<div class="container">
    <div class="row g-5">
        <div class="col-2 bg-black">
            <!-- This column can be used for additional content or left empty -->
        </div>
        <div class="col-8">
            <div class="row">
                @foreach (var product in Model.ProductList)
                {
                    <div class="col-lg-3 col-sm-6">
                        <div class="card w-100 mb-3">
                            <img src="@product.ImageUrl" alt="@product.Name" class="card-img-top rounded" style="border: 3px solid @product.Rarity.ColorCode; box-shadow: 0 0 1rem @product.Rarity.ColorCode" />
                            <div class="card-body">
                                <p class="card-title h6 text-uppercase text-center" style="font-family: IM Fell English, serif;">@product.Name</p>
                                <p class="text-center mb-0">
                                    <span class="h5 text-success">
                                        <i class="bi bi-coin"></i> @product.Price.ToString()
                                    </span>
                                </p>
                                <p class="text-center mb-0">-or-</p>
                                <p class="text-center">
                                    <span>@product.TradeItem</span>
                                </p>
                                <div class="d-grid gap-2">
                                    <a asp-action="Details" asp-controller="Home" asp-area="Customer" asp-route-productId="@product.Id" class="btn btn-outline-primary">
                                        Details
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-2">

            <div id="adTallCarousel" class="carousel slide" data-mdb-ride="carousel" data-mdb-carousel-init>
                <div class="carousel-inner">
                    @foreach(var ad in Model.AdList)
                    {
                        if (ad.Sizing == "Active Tall")
                        {
                            <div class="carousel-item active">
                                <img src="@ad.ImageUrl" class="d-block w-100" alt="@ad.Product.Name" />
                            </div>
                        } else if (ad.Sizing == "Tall")
                        {
                            <div class="carousel-item">
                                <img src="@ad.ImageUrl" class="d-block w-100" alt="@ad.Product.Name" />
                            </div>
                        }

                    }
                    
                </div>
                <button class="carousel-control-prev" type="button" data-mdb-target="#adTallCarousel" data-mdb-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-mdb-target="#adTallCarousel" data-mdb-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            
            <div class="mt-5">
                <div id="adSquareCarousel" class="carousel slide" data-mdb-ride="carousel" data-mdb-carousel-init>
                <div class="carousel-inner">
                    @foreach (var ad in Model.AdList)
                    {
                        if (ad.Sizing == "Active Square")
                        {
                            <div class="carousel-item active">
                                <img src="@ad.ImageUrl" class="d-block w-100" alt="@ad.Product.Name" />
                            </div>
                        }
                        else if (ad.Sizing == "Square")
                        {
                            <div class="carousel-item">
                                <img src="@ad.ImageUrl" class="d-block w-100" alt="@ad.Product.Name" />
                            </div>
                        }

                    }

                </div>
                <button class="carousel-control-prev" type="button" data-mdb-target="#adSquareCarousel" data-mdb-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-mdb-target="#adSquareCarousel" data-mdb-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            </div>
        </div>
    </div>
</div>
