@model HomeVM

<style>
    .container {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-right: auto;
        margin-left: auto;
    }

    .row {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-1 * var(--bs-gutter-y));
        margin-right: calc(-0.5 * var(--bs-gutter-x));
        margin-left: calc(-0.5 * var(--bs-gutter-x));
    }

    .sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 150px;
    }
</style>

<div class="text-center">
    <img src="~/images/banner.webp" alt="Wizard Wares Banner" class="w-75 mb-5 avoid-navbar shadow" style="height:auto; max-height:400px" />
</div>

<div>

    <button class="btn btn-primary rounded shadow mb-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas">
        <i class="bi bi-sliders"></i> Wizarding Preferences
    </button>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
        <div class="offcanvas-header">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">

            <form asp-controller="Home" asp-action="Index" method="get">

                <div>
                    <h4 class="medieval-sharp">Sort By:</h4>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="sortOrder" value="rarity_asc"
                               id="rarity_asc" @(Model.SortOrder == "rarity_asc" ? "checked" : "")
                               onchange="this.form.submit()" />
                        <label class="form-check-label" for="rarity_asc"> Rarity: Low to High </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="sortOrder" value="rarity_desc"
                               id="rarity_desc" @(Model.SortOrder == "rarity_desc" ? "checked" : "")
                               onchange="this.form.submit()" />
                        <label class="form-check-label" for="rarity_desc"> Rarity: High to Low </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="sortOrder" value="price_asc"
                               id="price_asc" @(Model.SortOrder == "price_asc" ? "checked" : "")
                               onchange="this.form.submit()" />
                        <label class="form-check-label" for="price_asc"> Price: Low to High </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="sortOrder" value="price_desc"
                               id="price_desc" @(Model.SortOrder == "price_desc" ? "checked" : "")
                               onchange="this.form.submit()" />
                        <label class="form-check-label" for="price_desc"> Price: High to Low </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="sortOrder" value="category"
                               id="price_desc" @(Model.SortOrder == "category" ? "checked" : "")
                               onchange="this.form.submit()" />
                        <label class="form-check-label" for="category"> Category </label>
                    </div>
                </div>
                <div class="mt-4">
                    <h4 class="medieval-sharp">Filter By:</h4>
                    <h6 class="medieval-sharp mt-3 mb-1">Categories:</h6>
                    @foreach (var category in Model.CategoryList)
                    {
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="filterOptions" value="@category.Name" id="@category.Name"
                            @(Model.FilterOptions != null && Model.FilterOptions.Contains(category.Name) ? "checked" : "")
                                   onchange="this.form.submit()" />
                            <label class="form-check-label" for="@category.Name">@category.Name</label>
                        </div>
                    }
                    <h6 class="medieval-sharp mt-4 mb-1">Rarities:</h6>

                    @foreach (var rarity in Model.RarityList)
                    {
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="filterOptions" value="@rarity.Name" id="@rarity.Name"
                            @(Model.FilterOptions != null && Model.FilterOptions.Contains(rarity.Name) ? "checked" : "")
                                   onchange="this.form.submit()" />
                            <label class="form-check-label shadow" for="@rarity.Name"
                                   style="color:@rarity.ColorCode;">@rarity.Name</label>
                        </div>
                    }
                </div>
                <button class="btn btn-primary mt-2" type="submit">Apply Filters</button>
            </form>
        </div>

    </div>

</div>
<div class="container">
    <div class="row g-5">


        <div class="col-lg-10 col-md-9">
            <div class="row">

                @{
                    // Used for adding names and descriptions of rarities and categories when sorting
                    var rarityValue = -1;
                    var categoryValue = -1;
                }
                @foreach (var product in Model.ProductList)
                {

                    // Items sort by Category by default
                    if (Model.SortOrder.Equals("category") && product.Category.DisplayOrder != categoryValue)
                    {
                        <div class="text-center border-top p-3 mb-3">
                            <h1 class="medieval-sharp">@product.Category.Name</h1>
                        </div>
                        // Update
                        categoryValue = product.Category.DisplayOrder;
                    }
                    else if (product.Rarity.ValueOrder != rarityValue && Model.SortOrder.StartsWith("rarity"))
                    {
                        <div class="text-center border-top p-3">
                            <h1 class="medieval-sharp" style="color: @product.Rarity.ColorCode">@product.Rarity.Name</h1>
                            <p>@product.Rarity.Description</p>
                        </div>
                        // Update
                        rarityValue = product.Rarity.ValueOrder;
                    }


                    <div class="col-lg-3 col-sm-6">
                        <div class="card w-100 mb-3" style="height:auto;">
                            <img src="@product.ImageUrl" alt="@product.Name" class="card-img-top rounded" style="border: 3px solid @product.Rarity.ColorCode; box-shadow: 0 0 1rem @product.Rarity.ColorCode" />
                            <div class="card-body">
                                <p class="card-title h6 text-uppercase text-center" style="font-family: IM Fell English, serif;">@product.Name</p>
                                <p class="text-center mb-0">
                                    <span class="h5 text-warning">
                                        <i class="bi bi-coin"></i> @product.Price.ToString()
                                    </span>
                                </p>
                                <p class="text-center mb-0">Trade Offer:</p>
                                <p class="text-center">
                                    <span>@product.TradeItem</span>
                                </p>
                                <div class="d-grid gap-2">
                                    <a asp-action="Details" asp-controller="Home" asp-area="Customer" asp-route-productId="@product.Id" class="btn btn-outline-primary">
                                        Details
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>


                }
            </div>
        </div>

        <div class="col-lg-2 col-md-3 adSection">

            <div class="sticky">
                <div id="adTallCarousel" class="carousel slide" data-mdb-ride="carousel" data-mdb-carousel-init>
                    <div class="carousel-inner">
                        @{
                            bool isActive = false;
                        }
                        @foreach (var ad in Model.AdList)
                        {
                            if (ad.Sizing == "Tall")
                            {
                                if (!isActive)
                                {
                                    <div class="carousel-item active">
                                        <a asp-action="Details" asp-controller="Home" asp-area="Customer" asp-route-productId="@ad.Product.Id">
                                            <img src="@ad.ImageUrl" class="d-block w-100" alt="@ad.Product.Name" />
                                        </a>
                                    </div>
                                    isActive = true;
                                }
                                else
                                {
                                    <div class="carousel-item">
                                        <a asp-action="Details" asp-controller="Home" asp-area="Customer" asp-route-productId="@ad.Product.Id">
                                            <img src="@ad.ImageUrl" class="d-block w-100" alt="@ad.Product.Name" />
                                        </a>
                                    </div>
                                }
                            }

                        }

                    </div>
                    <button class="carousel-control-prev" type="button" data-mdb-target="#adTallCarousel" data-mdb-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-mdb-target="#adTallCarousel" data-mdb-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <p>Advertisement</p>
            </div>


            <div class="mt-5 sticky" style="top:615px">

                <div id="adSquareCarousel" class="carousel slide" data-mdb-ride="carousel" data-mdb-carousel-init>
                    <div class="carousel-inner">
                        @{
                            isActive = false;
                        }
                        @foreach (var ad in Model.AdList)
                        {
                            if (ad.Sizing == "Square")
                            {
                                if (!isActive)
                                {
                                    <div class="carousel-item active">
                                        <a asp-action="Details" asp-controller="Home" asp-area="Customer" asp-route-productId="@ad.Product.Id">
                                            <img src="@ad.ImageUrl" class="d-block w-100" alt="@ad.Product.Name" />
                                        </a>
                                    </div>
                                    isActive = true;
                                }
                                else
                                {
                                    <div class="carousel-item">
                                        <a asp-action="Details" asp-controller="Home" asp-area="Customer" asp-route-productId="@ad.Product.Id">
                                            <img src="@ad.ImageUrl" class="d-block w-100" alt="@ad.Product.Name" />
                                        </a>
                                    </div>
                                }
                            }

                        }

                    </div>

                    <button class="carousel-control-prev" type="button" data-mdb-target="#adSquareCarousel" data-mdb-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-mdb-target="#adSquareCarousel" data-mdb-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <p>Advertisement</p>

            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        var scrollpos = localStorage.getItem('scrollpos');
        var sortOrder = localStorage.getItem('sortOrder');
        var filterBy = localStorage.getItem('filterBy');

        if (scrollpos) window.scrollTo(0, scrollpos);
        if (sortOrder) @Model.SortOrder = sortOrder;
        if (filterBy) @Model.FilterOptions = filterBy;
    });

    window.onbeforeunload = function (e) {
        localStorage.setItem('scrollpos', window.scrollY);
        localStorage.setItem('sortOrder', @Model.SortOrder);
        localStorage.setItem('filterBy', @Model.FilterOptions);
    };
</script>