@model IEnumerable<Product>

<div class="container-fluid pb-3">
    <div class="row no-gutters">
        <div class="col-2 bg-danger">
            <!-- This column can be used for additional content or left empty -->
        </div>
        <div class="col-8">
            <div class="row">
                @foreach (var product in Model)
                {
                    <div class="col-lg-3 col-sm-6">
                        <div class="row">
                            <div class="row p-2">
                                <div class="col-12 p-1">
                                    <div class="card p-3 rounded"
                                         style="border: 3px solid @product.Rarity.ColorCode; box-shadow: 0 0 1rem @product.Rarity.ColorCode">
                                        <img src="@product.ImageUrl" class="card-img-top rounded" />
                                        <div class="card-body pb-0">
                                            <div class="pl-1">
                                                <p class="card-title h5 opacity-75 text-uppercase text-center" style="font-family: IM Fell English, serif;">@product.Name</p>
                                            </div>
                                            <div class="pl-1">
                                                <p class="text-opacity-75 text-center mb-0">
                                                    <span class="">
                                                        <i class="bi bi-coin">
                                                            @product.Price.ToString()
                                                        </i>
                                                    </span>
                                                </p>
                                            </div>
                                            <div class="pl-1">
                                                <p class="text-opacity-75 text-center mb-0">
                                                    -or-
                                                </p>
                                            </div>
                                            <div class="pl-1">
                                                <p class="text-opacity-75 text-center">
                                                    <span>
                                                        @product.TradeItem
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div>
                                            <a asp-action="Details" asp-route-productId="@product.Id" class="btn btn-primary bg-gradient border-1 form-control">
                                                Details
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-2 bg-danger">
            <!-- This column can be used for additional content or left empty -->
        </div>
    </div>
</div>
